@model IEnumerable<FooAirline.Models.FlightViewModel>

@{
    ViewBag.Title = "Home Page";
}

<h1>FooAirlines</h1>

<h2>Flights</h2>

<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#add-flight-modal" style="margin-bottom: 10px">Add Flight</button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <table class="table">
        @foreach (var flight in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Flight " + flight.FlightNumber, "Flight", new { id = flight.Id })
                </td>
            </tr>
        }
        </table>
    </div>
</div>

<div id="add-flight-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/flight/add/" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Flight</h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label for="flight-number-input">Flight Number</label>
                            <input id="flight-number-input" name="flightNumber" type="text" class="form-control" placeholder="1701">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="add-flight-submit" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>